@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bon Voyage Traveller!</h1>
    <p>See a List of Reviewed <a href="/destinations">Destinations</a>.</p>
</div>
